@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap');

body{
  font-family: 'Ubuntu', sans-serif;
}

.special-font{
  font-family: 'Courgette', cursive !important;
}

.base-color{
  background-color: #f95801;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
